.signup-page {
  background-color: rgb(116, 111, 218);
  padding: 30px;
  width: 30rem;
  margin: auto;
  margin-top: 5rem;
  border-style: groove;
}

.create-acc-btn {
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 4px;
  background: #fff;
}

.create-acc-btn:hover {
  color: white;
  background-color: #9196e4;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.userlist {
  display: inline;
  margin: 0rem 1.2rem;
  text-decoration: none;
  padding: 3px 3px;
  border-radius: 8px;
  background: #fff;
}

.userlist:hover {
  cursor: pointer;
}
