.signup-page {
  background-color: rgb(116, 111, 218);
  padding: 30px;
  width: 40rem;
  margin: auto;
  margin-top: 5rem;
}

.create-acc-btn {
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 4px;
  background: #fff;
}

.create-acc-btn:hover {
  color: white;
  background-color: #9196e4;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;
}
