* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.admin-page {
  margin: 2.5rem;
  text-align: center;
}

.admin-btn {
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 4px;
  color: white;
  background-color: #9196e4;
  margin: 2.5rem;
}

.admin-btn:hover {
  background: #afb3e9;
  color: black;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;
}
