.mentee-fb,
.menteeform {
  background-color: rgb(116, 111, 218);
  padding: 30px;
  width: 40rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-style: groove;
}

#input-box {
  margin-left: 1.2rem;
  border-radius: 5px;
  width: 20rem;
}

#mentee-btn {
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 4px;
  background: #fff;
}

#mentee-btn:hover {
  color: white;
  background-color: #9196e4;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.skills-list {
  display: inline;
  margin-left: 0.5rem;
  margin-right: 1.2rem;
  text-decoration: none;
  padding: 3px 3px;
  border-radius: 8px;
  background: #fff;
}

.skills-list:hover {
  cursor: pointer;
}
