* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.mentee-page {
  margin: 2.5rem;
  text-align: center;
}

.mentee-login-form {
  background-color: rgb(116, 111, 218);
  padding: 30px;
  width: 40rem;
  margin: auto;
  margin-top: 5rem;
  text-align: left;
}

.signup-btn {
  text-decoration: none;
  padding: 0px 5px;
  border-radius: 4px;
  background: #9196e4;
}

.signup-btn:hover {
  color: white;
  background-color: #9196e4;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;
}
