.login-page {
  background-color: rgb(116, 111, 218);
  padding: 30px;
  width: 35rem;
  margin: auto;
  margin-top: 5rem;
  border-style: groove;
}

.login-btn,
.logout-btn {
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 4px;
  background: #fff;
}

.login-btn:hover,
.logout-btn:hover {
  color: white;
  background-color: #9196e4;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.su-btn {
  display: inline;
  margin-left: 10px;
}

.signup-btn {
  text-decoration: none;
  padding: 0px 3px;
  border-radius: 4px;
  background: #9196e4;
}

.signup-btn:hover {
  color: white;
  transition: all 0.2s ease-out;
  border-radius: 4px;
  text-decoration: none;
}
