.mentor-profile {
  background-color: rgb(116, 111, 218);
  padding: 10px 40px;
  padding-bottom: 60px;
  margin: 3rem;
  margin-top: 0rem;
}

#profile-title {
  color: antiquewhite;
  padding-bottom: 20px;
}
