#md-title {
  text-align: center;
}

.mh-card {
  border-style: groove;
}

#profile {
  width: 30rem;
  display: inline;
  float: left;
  margin: auto;
  margin-left: 10rem;
  margin-top: 1rem;
  border-style: groove;
}

#calendar {
  width: 30rem;
  display: inline;
  float: left;
  margin-left: 10rem;
  margin-top: 1rem;
  border-style: groove;
  text-align: center;
}

#skills {
  width: 30rem;
  display: inline;
  float: left;
  margin-left: 10rem;
  margin-top: 2rem;
  border-style: groove;
  text-align: center;
}

#submit-btns {
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 4px;
  background: #fff;
}

#submit-btns:hover {
  color: white;
  background-color: #9196e4;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;
}
