#ml-title {
  text-align: center;
}

.unmatched-mentees {
  float: left;
  background-color: rgb(124, 120, 209);
  width: 45%;
  margin-left: 3rem;
  margin-top: 2rem;
  border-style: groove;
}

.accept-mentee {
  color: #6da9f7;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background: #fff;
}
.accept-mentee:hover {
  color: white;
  background-color: #6da9f7;
  border-radius: 4px;
  transition: all 0.6s ease-out;
  text-decoration: none;
}

.decline-mentee {
  color: #f76d6d;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background: #fff;
}
.decline-mentee:hover {
  color: white;
  background-color: #f76d6d;
  border-radius: 4px;
  transition: all 0.6s ease-out;
  text-decoration: none;
}

.matched-mentees {
  float: right;
  background-color: rgb(104, 100, 194);
  width: 45%;
  margin-right: 3rem;
  margin-top: 2rem;
  border-style: groove;
}

.email-mentee {
  color: #9196e4;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background: #fff;
}
.email-mentee:hover {
  color: white;
  background-color: #9196e4;
  border-radius: 4px;
  transition: all 0.6s ease-out;
  text-decoration: none;
}
